<div>
    <h1>Parent component</h1>
    Parent component: <input type="text"  >

    <ul>
      <li *ngFor="let item of items">{{item}}</li>
    </ul>
    <!-- child value:  {{childValue}}

    <div style="margin-top: 50px;margin-left: 40px;" >
      <button (click)="childBoxOpen()">  model </button>
  </div> -->



     <app-employee (newItemEvent)="addItem($event)"></app-employee>



    <!-- <app-employee [isChildVisible]="isChildOpen"  (valueChanged)="onValueChanged($event)"></app-employee> -->

  </div>
  